body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    line-height: 1;
  }
  
  textarea{
    background: transparent;
    border: none;
    resize: none;
    color: #e0accf;
    border-left: 1px solid black;
    padding: 10px;
    width: 75%;
  }
  
  .jumbotron {
    text-align: center;
    background-color: transparent;
    color: rgb(245, 231, 240);
    border-radius: 0;
    border-bottom: 10px solid black;
  }
  
  .description{
    white-space: pre-wrap;
  }
  
  .time-block{
    text-align: center;
    border-radius: 15px;
  }
  
  .row {
    white-space: pre-wrap;
    height: 80px;
    border-top: 1px solid white;;
  }
  
  .hour {
    background-color: #ffffff;
    color: #ec65af;
    border-top: 1px dashed #000000;
  }
  
  .past {
    background-color: #d3d3d3;
    color: white;
  }
  
  .present {
    background-color: #e42896;
    color: white;
  }
  
  .future {
    background-color: #f0a3d6;
    color: white;
  }
  
  .saveBtn {
    border-left: 1px solid black;
    border-top-right-radius: 15px;
    border-right: 10px;
    background-color: #f17cce;
    color: white;
    padding-right: 30px;
    padding-left: 30px;
    align-items: center;
  }
  
  .saveBtn i:hover {
    font-size: 20px;
    transition: all .3s ease-in-out;
  }